<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>displayText</key>
			<string>1ST</string>
			<key>fileName</key>
			<string>first</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.95</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>COUNT</string>
			<key>fileName</key>
			<string>countdown</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.77</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>BLAST OFF</string>
			<key>fileName</key>
			<string>blast</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SPEED</string>
			<key>fileName</key>
			<string>speed</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.82</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>TRIP</string>
			<key>fileName</key>
			<string>trip</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.82</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>displayText</key>
			<string>oOoOo</string>
			<key>fileName</key>
			<string>oh</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>ahhHH</string>
			<key>fileName</key>
			<string>ah</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.4025</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>THEY ATTACK</string>
			<key>fileName</key>
			<string>attack</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.64</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>FEAR</string>
			<key>fileName</key>
			<string>fear</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.77</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SHARP</string>
			<key>fileName</key>
			<string>sharp</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.8</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>displayText</key>
			<string>(blip)</string>
			<key>fileName</key>
			<string>blip</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<false/>
			<key>volume</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>MARS</string>
			<key>fileName</key>
			<string>lands</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.97</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>中国古代</string>
			<key>fileName</key>
			<string>chinese</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>CAT</string>
			<key>fileName</key>
			<string>yourcat</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.84</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>MEOW</string>
			<key>fileName</key>
			<string>meow</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.65</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>displayText</key>
			<string>(ufo)</string>
			<key>fileName</key>
			<string>ufo</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<false/>
			<key>volume</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>GREET</string>
			<key>fileName</key>
			<string>greet</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>CRASH</string>
			<key>fileName</key>
			<string>crash</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SHORE</string>
			<key>fileName</key>
			<string>shore</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SHORE</string>
			<key>fileName</key>
			<string>shorebw</string>
			<key>fileExtension</key>
			<string>mp3</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
			<key>invertText</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>displayText</key>
			<string>🐋</string>
			<key>fileName</key>
			<string>whale</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>🎸</string>
			<key>fileName</key>
			<string>jib</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<false/>
			<key>volume</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>😱</string>
			<key>fileName</key>
			<string>groan</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>🐺</string>
			<key>fileName</key>
			<string>howl</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
		<dict>
			<key>displayText</key>
			<string>🐕</string>
			<key>fileName</key>
			<string>bark</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
			<key>volume</key>
			<real>1</real>
		</dict>
	</array>
</array>
</plist>
