<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>displayText</key>
			<string>(blip)</string>
			<key>fileName</key>
			<string>blip</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<true/>
			<key>pitchEffect</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>(ufo)</string>
			<key>fileName</key>
			<string>ufo</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<true/>
			<key>pitchEffect</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>BLAST OFF</string>
			<key>fileName</key>
			<string>blastOff</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SPEED</string>
			<key>fileName</key>
			<string>incredibleSpeed</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>TRIP</string>
			<key>fileName</key>
			<string>tripIsShort</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>displayText</key>
			<string>oOoOo</string>
			<key>fileName</key>
			<string>spookyOh</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>ahhHH</string>
			<key>fileName</key>
			<string>screamAh</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>THEY ATTACK</string>
			<key>fileName</key>
			<string>theyAttack</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>CAT</string>
			<key>fileName</key>
			<string>yourCat</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>MEOW</string>
			<key>fileName</key>
			<string>meowSoft</string>
			<key>fileExtension</key>
			<string>m4a</string>
			<key>loops</key>
			<false/>
			<key>pitchEffect</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
