<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>soundDictsArrayOne</key>
	<array>
		<dict>
			<key>displayText</key>
			<string>(blip)</string>
			<key>fileName</key>
			<string>blip.m4a</string>
			<key>loops</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>(ufo)</string>
			<key>fileName</key>
			<string>ufo.m4a</string>
			<key>loops</key>
			<true/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>BLAST OFF</string>
			<key>fileName</key>
			<string>blastOff.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>SPEED</string>
			<key>fileName</key>
			<string>incredibleSpeed.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>TRIP</string>
			<key>fileName</key>
			<string>tripIsShort.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
	</array>
	<key>soundDictsArrayTwo</key>
	<array>
		<dict>
			<key>displayText</key>
			<string>oOoOo</string>
			<key>fileName</key>
			<string>spookyOh.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>ahhHH</string>
			<key>fileName</key>
			<string>screamAh.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>THEY ATTACK</string>
			<key>fileName</key>
			<string>theyAttack.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>meow</string>
			<key>fileName</key>
			<string>meowSoft.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>MEOW</string>
			<key>fileName</key>
			<string>meowLoud.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
	</array>
	<key>soundDictsArrayThree</key>
	<array>
		<dict>
			<key>displayText</key>
			<string>vacuum</string>
			<key>fileName</key>
			<string>vacuum.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>whale</string>
			<key>fileName</key>
			<string>whale.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>CACTUS BOMB</string>
			<key>fileName</key>
			<string>cactusBomb.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>BELL</string>
			<key>fileName</key>
			<string>fightBell.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
		<dict>
			<key>displayText</key>
			<string>DRILL</string>
			<key>fileName</key>
			<string>powerDrill.m4a</string>
			<key>loops</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
